// 基础通用样式
html{
  font-size: 62.5%;
}

body{
  min-width:1200px;
  margin:0;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.icon {
  width: 1em; height: 1em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: -0.15em;
}

// layout
.container{
  padding:16px;
  height: 100vh;
  box-sizing: border-box
}
// height
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.h-90{
  height: 90%;
}
.h-80{
  height: 80%;
}
.h-70{
  height: 70%;
}
.h-60{
  height: 60%;
}
.h-50{
  height: 50%;
}
.h-40{
  height: 40%;
}
.h-30{
  height: 30%;
}
.h-20{
  height: 20%;
}
.h-10{
  height: 10%;
}
// padding
.pd-t-8{
  padding-top: 8px;
}
.pd-b-8{
  padding-bottom: 8px;
}
.pd-l-8{
  padding-left: 8px;
}
.pd-r-8{
  padding-right: 8px;
}
.pd-t-4{
  padding-top: 4px;
}
.pd-b-4{
  padding-bottom: 4px;
}
.pd-l-4{
  padding-left: 4px;
}
.pd-r-4{
  padding-right: 4px;
}
.pd-4{
  padding: 4px;
}
.pd-8{
  padding: 8px;
}
.pd-16{
  padding: 16px;
}
// maring
.mg-t-8{
  margin-top: 8px;
}
.mg-b-8{
  margin-bottom: 8px;
}
.mg-l-8{
  margin-left: 8px;
}
.mg-r-8{
  margin-right: 8px;
}
.mg-4{
  margin: 4px;
}
.mg-8{
  margin: 8px;
}
.mg-16{
  margin: 16px;
}
.flex-justify-content {
  display: flex;
  justify-content: center;
}
.flex-align-items {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
